@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth overflow-y-scroll;
  }

  body {
    @apply font-sans;
  }

  /* ===== Custom Scrollbar ===== */
  /* width */
  ::-webkit-scrollbar {
    @apply w-3;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-bgdark;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-carddark;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-[#17222b];
  }
}

@layer components {
  .section {
    @apply py-11 md:pt-16 lg:pt-20 px-4 sm:px-8 md:px-20 max-w-6xl mx-auto lg:min-h-[768px];
  }
  .section-heading {
    @apply text-2xl md:text-3xl xl:text-4xl inline-block my-6 font-medium;
  }
  .link-outline {
    @apply outline-carrigreen;
  }
  .link {
    @apply outline-carrigreen text-carrilight hover:text-carrigreen;
  }
  .blog-main {
    @apply mb-20 mt-16 min-h-[70vh];
  }
  .blog-section {
    @apply py-8 px-4 sm:px-8 md:px-20 max-w-4xl mx-auto;
  }
  .glassmorphism {
    @apply bg-clip-padding backdrop-filter backdrop-blur-xl !bg-opacity-60;
  }
  .lower-glassmorphism {
    @apply !bg-opacity-60 after:!backdrop-blur-xl after:w-full after:h-full after:absolute after:top-0 after:left-0 after:-z-10;
  }
}

@layer utilities {
  .swiper-padding {
    padding: 0 3rem !important;
    padding-bottom: 3rem !important;
  }
  .swiper-padding-mobile {
    padding: 0 !important;
    padding-bottom: 3rem !important;
  }
}

.swiper-pagination-bullet {
  @apply bg-gray-200;
}
.swiper-pagination-bullet-active {
  background-color: rgb(5 206 145) !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(5 206 145) !important;
}
@media only screen and (max-width: 480px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}
